html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  
  /* Critical for transparent Electron window! */
  background: transparent !important; 
  overflow: hidden;
  font-family: 'Segoe UI', system-ui, sans-serif;
  color: white;
}

body {
    -webkit-app-region: drag; /* Allows the user to drag the floating window by grabbing empty spaces */
}

/* Any click zones should have drag off so they function */
.no-drag {
    -webkit-app-region: no-drag;
}
